.game {
    width: 600px;
    height: 200px;
    border-bottom: 2px solid #000000;
    margin: auto;
}

.rider {
    width: 50px;
    height: 50px;
    background-image: url("images/rider.svg");
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    background-color: transparent;
}

.tree {
    width: 20px;
    height: 40px;
    background-image: url("images/tree.svg");
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: treeMov 2s infinite linear;
}

.cloud {
    width: 20px;
    height: 20px;
    background-image: url("images/cloud.svg");
    position: relative;
    top: -60px;
    left: 580px;
    animation: cloudMov 4s infinite linear;
}

@keyframes cloudMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

@keyframes treeMov {
    0% {
        left: 580px;
    }
    100% {
        left: -20px;
    }
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 130px;
    }

    50% {
        top: 80px;
    }

    80% {
        top: 130px;
    }

    100% {
        top: 150px;
    }
}